
.nav-link:hover {
  /* Add your hover styles here */
  color: #fff; /* For example, change the text color to white on hover */
  background-color: #000; /* For example, change the background color to black on hover */
}


/* Add your additional custom styles here */
.body1 {
  background: rgba(130, 121, 121, 0.4);
  top: 0px;
  left: 0;
  width: 100%;
  font-family: "poppins", sans-serif;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  position: sticky;
  
}



.menu li:hover::after {
  width: 100%;
  height: 1px;
  background-color: #fff;
}



