.hello {
  background: #fccb90; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 1px solid #dee2e6;
  padding: 1rem 0;
}

.hello .nav-link {
  color : black; /* Set the text color to white */
}

/* Add your additional custom styles here */
