.apexcharts-legend{
   
    background-color: white;
   height:max-content;
}

@media (max-width:451px){
    .apexcharts-legend{
        display:none;
    }
}
foreignObject{
    width: 340px;
}
.pie {
    
  
	padding: 4rem 2rem;


 
	border-radius: 1rem;
	border: 1px solid transparent;
	backdrop-filter: blur(1rem);
	border-top-color: rgba(255, 255, 255, 0.5);
	border-left-color: rgba(255, 255, 255, 0.5);
	border-bottom-color: rgba(255, 255, 255, 0.1);
	border-right-color: rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.1);
  
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
}