.apexcharts-legend{
	display: block;
	margin: auto;
	 background-color: white;
   width: max-content;
 }
 
 .apexcharts-menu{
	color: black;
	 
 }
 .apexcharts-tooltip{
	 color: black;
 }
 
 foreignObject{
	 width: 340px;
 }
 .stacked-bar{
	 color: black;
	 background: rgba( 255, 255, 255, 0.65 );
 box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	 backdrop-filter: blur( 6px );
 -webkit-backdrop-filter: blur( 6px );
 border-radius: 10px;
 border: 1px solid rgba( 255, 255, 255, 0.18 );
 box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
 }
 
 .pie {
	 
   
	 padding: 4rem 2rem;
 
 
  
	 border-radius: 1rem;
	 border: 1px solid transparent;
	 backdrop-filter: blur(1rem);
	 border-top-color: rgba(255, 255, 255, 0.5);
	 border-left-color: rgba(255, 255, 255, 0.5);
	 border-bottom-color: rgba(255, 255, 255, 0.1);
	 border-right-color: rgba(255, 255, 255, 0.1);
	 background-color: rgba(0, 0, 0, 0.1);
   
	 background-color: rgba(255, 255, 255, 0.1);
	 box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
 }